@import 'utils';
.button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    &.default {
        background: $oc-teal-6;
        &:hover {
            background: $oc-teal-5;
        }
        &:active {
            background: $oc-teal-6;
        }
    }
    &:hover {
        @include material-shadow(2, 0.5);
    }
    &+& {
        margin-left: 0.5rem;
    }
}