@import url('https://fonts.googleapis.com/css?family=Faster+One');
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Faster One', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: inherit;
}

a {
    text-decoration: inherit;
    color: inherit;
}