
@import 'utils';

.footer {
    background: $oc-gray-5;
    .footer-content {
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .brand-logo {
            font-size: 3rem;
            color: white;

            @include media("<medium") {
                font-size: 1.5rem;
            }
        }
    }
}