@import 'utils';
.header {
    background: $oc-teal-3;
    .header-content {
        height: 5rem;
        width: 1400px;
        margin: 0 auto;
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        
        align-items: center;
        @include media("<wide") {
            width: 100%;
        }
        @include media("<medium") {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .brand-logo {
            font-size: 3rem;
            color: white;
            @include media("<medium") {
                font-size: 1.5rem;
            }
        }
    }

    .menu-bar {
        background: $oc-teal-5;
        height: 2.5rem;
        display: table;
        table-layout: fixed;
        width: 100%;
        .menu {
            padding-top: 0.4rem;
            display: table-cell;
            text-align: center;

            font-weight: 400;
            font-size: 1.5rem;

            color: white;

            cursor: pointer;

            &:hover {
                background: $oc-teal-6;
            }

            &:active {
                background: $oc-teal-5;
            }

            @include media("<medium") {
                font-size: 1.2em;
                padding-top: 0.6rem;
            }
        }




    }
}